This notebook is part of the requriments to complete the IBM professional Data Science course. All code for this project will be available in this notebook.

In [9]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import numpy as np

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

from bs4 import BeautifulSoup
from urllib.request import urlopen

#!pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # 
from pandas.io.json import json_normalize 


# import k-means from clustering stage
from sklearn.cluster import KMeans
!pip install folium
#!conda install -c conda-forge folium
import folium # map rendering library

print('Libraries imported.')

Collecting folium
  Using cached folium-0.12.1-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: requests in c:\users\homet\anaconda3\lib\site-packages (from folium) (2.25.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\homet\anaconda3\lib\site-packages (from folium) (2.11.3)
Collecting branca>=0.3.0
  Using cached branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: numpy in c:\users\homet\anaconda3\lib\site-packages (from folium) (1.20.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\homet\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\homet\anaconda3\lib\site-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\homet\anaconda3\lib\site-packages (from requests->folium) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\homet\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\homet\anaconda3\lib\site-packages (from requests->folium) (4.0.0)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1
Libraries imported.

## Data Collection
The Dataset to be used for this project is not readily avalilable so I will be making use of the BeautifulSoup library to scrap the data from a webpage.

In [14]:
borughs=[]
from urllib.request import urlopen
import re
borugh=urlopen('https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto#Neighbourhoods_by_district')
#making use of the beautifulsoup library.
bs=BeautifulSoup(borugh, 'html5lib')
borugh_names=bs.findAll('span',{'id':re.compile('(Old_Toronto|East_York|Etobicoke|North_York|Scarborough|York)')})
for borough_name in borugh_names:
    borughs.append(borough_name.get_text())
print(borughs)

['Old Toronto', 'East York', 'Etobicoke', 'North York', 'Scarborough', 'York']

In [30]:
import geopy
from  geopy.geocoders import Nominatim
nominatim_service = Nominatim(user_agent='Diwupirate') # Important line
geopy.geocoders.options.default_user_agent = 'Diwupirate' # Important line
geolocator = Nominatim()

In [27]:
city ="Alexandra Park"
country ="Toronto"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

latitude is :- 43.650786999999994
longtitude is:- -79.40431814731767

## Importing the scraped dataset from a csv file.

In [26]:
#Toronto_neighborhoods=pd.read_csv('./Toronto_neighborhoods.csv')
Toronto_neighborhoods.head()

      Boroughs     Neigborhoods
0  Old_Toronto   Alexandra Park
1  Old_Toronto        The Annex
2  Old_Toronto  Baldwin Village
3  Old_Toronto      Cabbagetown
4  Old_Toronto        CityPlace

In [32]:
toronto_copy

        Boroughs              Neigborhoods
0    Old_Toronto            Alexandra Park
1    Old_Toronto                 The Annex
2    Old_Toronto           Baldwin Village
3    Old_Toronto               Cabbagetown
4    Old_Toronto                 CityPlace
..           ...                       ...
210         York                  Old Mill
211         York         Rockcliffe–Smythe
212         York  Silverthorn (Keelesdale)
213         York                 Tichester
214         York                    Weston

[215 rows x 2 columns]

## Importing the full dataset from the csv file.

In [5]:
torontoDF=pd.read_csv('Toronto__Neighborhoods.csv')
torontoDF.head()

,Boroughs,Neigborhoods,Address,Location,Point,Latitude,Longitude,altitude
0,Old_Toronto,Alexandra Park,"Alexandra Park, Toronto","Alexandra Park, Spadina—Fort York, Old Toronto...","(43.650786999999994, -79.40431814731767, 0.0)",43.650787,-79.404318,0.0
1,Old_Toronto,The Annex,"The Annex, Toronto","The Annex, University—Rosedale, Old Toronto, T...","(43.6703377, -79.407117, 0.0)",43.670338,-79.407117,0.0
2,Old_Toronto,Baldwin Village,"Baldwin Village, Toronto","Baldwin Steps, South Hill, Toronto—St. Paul's,...","(43.6776885, -79.4081645, 0.0)",43.677689,-79.408164,0.0
3,Old_Toronto,Cabbagetown,"Cabbagetown, Toronto","Cabbagetown, Toronto Centre, Old Toronto, Toro...","(43.6644734, -79.3669861, 0.0)",43.664473,-79.366986,0.0
4,Old_Toronto,CityPlace,"CityPlace, Toronto","CityPlace, Spadina—Fort York, Old Toronto, Tor...","(43.6392482, -79.3963865, 0.0)",43.639248,-79.396387,0.0

In [4]:
import folium as fm

ModuleNotFoundError: No module named 'folium'